body{
    height: 100vh;
}

.sticky_footer{
    position: sticky;
    top:100%;
    bottom: 0%;
    padding: 40px;
    background-color:#51373a; 

    color: white;
    


}
.connect{
    display: flex;
    align-items: center;
    /* margin: auto; */
    flex-direction: column;
    /* margin-left: 100px; */
    /* justify-content: center; */
    /* background-color: red; */
    /* justify-content:space-between; */
}
.connect a{
    padding: 30px;
    /* margin: 30px; */
}
.connect p{
    margin: 30px;
}