@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

.container {
  background-color: #282828;
  height: 80px;
}

.wraper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left {
  flex: 1;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-left: 90px;
}
.right {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link {
  margin-right: 50px;
  font-size: 22px;
}
a {
  text-decoration: none;
}

@media all and (max-width: 680px) {
  .link {
    margin-right: 0px;
  }
  .logo {
    margin-left: 0px;
  }
}
